{% extends "base.html" %}

{% block title %}
    Doctor Profile
{% endblock %}

{% block main %}
    <body class="flex min-h-screen text-gray-900 bg-gradient-to-l from-blue-500 to-blue-700 h-64 w-full">
        
        <aside class="m-2 mt-2 rounded-md bg-white shadow-lg border-r border-gray-200 flex flex-col min-h-screen p-4">
            <div class="flex items-center space-x-2 mb-6">
                <h1 style="font-family: Zain, sans-serif; font-weight: 600; font-style: normal;" class="text-5xl font-semibold text-blue-600">ChronoCare</h1>
                <circle cx="12" cy="12" r="12" />
                <path d="M12 6v6l4 2" />
                </svg>
            </div>
        
            <nav class="flex-1 space-y-2">
                <a style="font-family: Zain, sans-serif; font-weight: 400; font-style: normal;" href="/doctordashboard" class="text-2xl flex items-center p-2 rounded-xl hover:bg-indigo-400 transition">Dashboard</a>
        
                <a style="font-family: Zain, sans-serif; font-weight: 400; font-style: normal;" href="/doctorappointments" class="text-2xl flex items-center p-2 rounded-xl hover:bg-indigo-400 transition">Appointments</a>
            
                <a style="font-family: Zain, sans-serif; font-weight: 400; font-style: normal;" href="/records" class="text-2xl flex items-center p-2 rounded-xl hover:bg-indigo-400 transition">Records</a>
        
                <a style="font-family: Zain, sans-serif; font-weight: 400; font-style: normal;" href="/doctorprofile" class="text-2xl flex items-center p-2 rounded-xl bg-blue-900 text-white">Profile</a>
                
                <a style="font-family: Zain, sans-serif; font-weight: 400; font-style: normal;" href="/doctorrequests" class="text-2xl flex items-center p-2 rounded-lg hover:bg-indigo-400 transition">Requests</a>
            </nav>
        
            <a style="font-family: Zain, sans-serif; font-weight: 400; font-style: normal;" href="/logout" class="text-lg mt-6 mx-auto text-red-600 font-semibold hover:underline">Logout</a>
        </aside>

        <div class="min-w-half flex items-center h-auto flex-wrap mx-auto my-32 lg:my-0">
            <div id="profile" class="min-w-half rounded-md bg-white/10 backdrop-blur-lg p-6 text-white border border-white/20">
                <div class="p-4 md:p-12 text-center lg:text-left">

                    <h1 class="text-3xl font-bold pt-8 lg:pt-0">{{ doctor.name|title }}</h1>

                    <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
                        <svg class="h-4 fill-current text-blue-700 pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> 
                            <path d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"/>
                        </svg> 
                        {{ doctor.specialty }}
                    </p>

                    <p class="pt-4 text-base flex items-center justify-center lg:justify-start">
                        <svg class="h-4 fill-current text-blue-700 pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm0 2v.01L12 13 20 6.01V6H4z"/>
                          </svg>                          
                        {{ doctor.email }}
                    </p>

                    <p class="pt-4 text-base flex items-center justify-center lg:justify-start">
                        <svg class="h-4 fill-current text-blue-700 pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M6 0h2v2h4V0h2v2h2a2 2 0 0 1 2 2v2H2V4a2 2 0 0 1 2-2h2V0zm12 8v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8h16z"/>
                          </svg>                          
                        {{ doctor.dob }}
                    </p>

                    <p class="pt-4 text-base flex items-center justify-center lg:justify-start">
                        <svg class="h-4 fill-current text-blue-700 pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M2 2a2 2 0 0 1 2-2h3l2 5-2 1a11 11 0 0 0 5 5l1-2 5 2v3a2 2 0 0 1-2 2A16 16 0 0 1 2 2z"/>
                          </svg>                          
                        {{ doctor.phone }}
                    </p>
                </div>
            </div>
        </div>

    </body>
{% endblock %}